# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        types_or: [python, rust]
    -   id: end-of-file-fixer
        types_or: [python, rust]
-   repo: http://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: cargo-check
-   repo: local
    hooks:
    -   id: lint
        name: Lint
        entry: make lint
        types_or: [python, rust]
        language: system
        pass_filenames: false
    -   id: format
        name: Format
        entry: make format
        types_or: [python, rust]
        language: system
        pass_filenames: false
