name: Release

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8"]
        architecture: [x86-64, aarch64]
    steps:
    - uses: actions/checkout@v4
    - name: build (release)
      uses: messense/maturin-action@v1
      with:
        manylinux: auto
        command: build
        args: "--release -o dist"
        target: ${{ matrix.architecture == 'aarch64' && 'aarch64-unknown-linux-gnu' || null }}
    - name: Upload wheels
      uses: actions/upload-artifact@v4
      with:
        name: "wheels-linux-python-${{ matrix.python-version }}-${{ matrix.architecture }}"
        path: dist

  macos:
    runs-on: macos-13
    strategy:
      matrix:
        python-version: ["3.8"]
        architecture: [x86-64, aarch64]
    steps:
    - uses: actions/checkout@v4
    - name: build (release)
      uses: messense/maturin-action@v1
      with:
        command: build
        args: "--release -o dist"
        target: ${{ matrix.architecture == 'aarch64' && 'aarch64-apple-darwin' || null }}
    - name: Upload wheels
      uses: actions/upload-artifact@v4
      with:
        name: "wheels-macos-python-${{ matrix.python-version }}-${{ matrix.architecture }}"
        path: dist

  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        # amd64 only for windows, as no arm64 runners are available
        python-version: ["3.8"]
    steps:
    - uses: actions/checkout@v4
    - name: build (release)
      uses: messense/maturin-action@v1
      with:
        command: build
        args: "--release -o dist"
    - name: Upload wheels
      uses: actions/upload-artifact@v4
      with:
        name: "wheels-windows-python-${{ matrix.python-version }}"
        path: dist

  # NOTE: Cannot use a matrix here, as we only want a single release
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [linux, macos, windows]
    steps:
    - name: Download Linux 3.8 wheels for x86-64
      uses: actions/download-artifact@v4
      with:
        name: "wheels-linux-python-3.8-x86-64"
        path: wheels-linux

    - name: Download Linux 3.8 wheels for aarch64
      uses: actions/download-artifact@v4
      with:
        name: "wheels-linux-python-3.8-aarch64"
        path: wheels-linux

    - name: Download MacOS 3.8 wheels for x86-64
      uses: actions/download-artifact@v4
      with:
        name: "wheels-macos-python-3.8-x86-64"
        path: wheels-macos

    - name: Download MacOS 3.8 wheels for aarch64
      uses: actions/download-artifact@v4
      with:
        name: "wheels-macos-python-3.8-aarch64"
        path: wheels-macos

    - name: Download Windows 3.8 wheels
      uses: actions/download-artifact@v4
      with:
        name: "wheels-windows-python-3.8"
        path: wheels-windows

    - name: Publish to PyPI
      uses: messense/maturin-action@v1
      env:
        MATURIN_PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
      with:
        command: upload
        args: "--skip-existing wheels-linux/*.whl wheels-macos/*.whl wheels-windows/*.whl"

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        generate_release_notes: true
        files: |
          wheels-linux/*.whl
          wheels-macos/*.whl
          wheels-windows/*.whl
